<div class="log-in z-depth-4">
    <h5 class="center"><i class="material-icons center" type="submit">account_circle</i></h5>
    <form>
        <div class="row username">
          <input id="username" class="col s8 push-s2" placeholder="username" name="username">
        </div>
        <div class="row password">
            <input id="search" class="col s8 push-s2" placeholder="password" name="password">
          </div>
        <div class="row log-in-btn">
          <button class="waves-effect btn-small button col s8 push-s2">log in</button>
        </div>
    </form>
</div>
