<div class="row teal">
    <div class="col s1 push-s1 titles">
      <a href="">Logo</a>
    </div>
    <div class="col s4 push-s1 titles" id="search">
      Search
    </div>
    <div class="col s1 push-s2 titles right-align left">
     <a href="/news">News</a>
    </div>
    <div class="col s1 push-s2 titles right-align left">
      <a href="/games">Games</a>
    </div>
    <div class="col s1 push-s2 titles right-align left">
      <a href="/about">About</a>
    </div>
    <div class="col s1 push-s2 titles right-align left">
      <a href="/login">Log In</a>
    </div>
</div>