.news{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(217, 246, 243);
}

.row{
    margin: 0;
}

.test{
    border-width: 1px;
    border-style: solid;
    border-color: magenta;
}

