.test{
    border-width: 1px;
    border-style: solid;
    border-color: magenta;
}

.row{
    margin: 0;
    font-family: sans-serif;
    padding: 10px;
}

h6{
    font-weight: bold;
}

img{
    max-width: 100%;
    margin-right: 40px;
}