<div class="row">
    <div class="row col s6 push-s1 game">
        <div class="col s4 center-align cover">
            <img class="cover" src="https://upload.wikimedia.org/wikipedia/en/5/51/Minecraft_cover.png">
            <a class="waves-effect waves-light btn-small button"><i class="material-icons left">create</i>write review</a>
        </div>

        <div class="col s6">
            <h3>Game Title</h3>
        </div>
        <div class="col s2 grade">
            <h4>4.7</h4>
        </div>

        <div class="carousel carousel-slider center col s8">
            <div class="carousel-item red white-text">
              <h2>First Panel</h2>
              <p class="white-text">This is your first panel</p>
            </div>
            <div class="carousel-item amber white-text">
              <h2>Second Panel</h2>
              <p class="white-text">This is your second panel</p>
            </div>
            <div class="carousel-item green white-text">
              <h2>Third Panel</h2>
              <p class="white-text">This is your third panel</p>
            </div>
            <div class="carousel-item blue white-text" href=>
              <h2>Fourth Panel</h2>
              <p class="white-text">This is your fourth panel</p>
            </div>
        </div>
    </div>

    <div class="col s3 push-s2 news">
        <app-news-col></app-news-col>
        <app-news-col></app-news-col>
        <app-news-col></app-news-col>
        <app-news-col></app-news-col>
        <app-news-col></app-news-col>
    </div>
</div>
