<div class="row">
    <input type="hidden" ngModel="game">
    <div class="row col s6 push-s1 game">
        <div class="col s4 center-align cover">
            <img class="cover" src="{{game[0].coverURL}}">
            <a class="waves-effect waves-light btn-small button"><i class="material-icons left">create</i>write review</a>
        </div>

        <div class="col s6">
            <h3>{{game[0].title}}</h3>
        </div>
        <div class="col s2 right grade">
            <h4 class="center">{{game[0].score}}</h4>
        </div>

        <div class="video-container col s8" style="--aspect-ratio: 9 / 16;">
            <iframe src="https://www.youtube.com/embed/MmB9b5njVbA?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="col s12 game-row">
            <app-game-row></app-game-row>
        </div>
    </div>

    <div class="col s3 push-s2 news">
        <app-news-col></app-news-col>
    </div>
</div>
