<div class="row">
    <input type="hidden" ngModel="game">
    <div class="row col s6 push-s1 game">
        <div class="col s4 center-align cover">
            <img class="cover" src="{{game[0].coverURL}}">
            <a class="waves-effect waves-light btn-small button truncate"  id="review-btn" onclick="">write review</a>
        </div>

        <div class="col s6 title">
            <h3>{{game[0].title}}</h3>
        </div>
        <div class="col s2 right grade">
            <h4 class="center">{{game[0].score}}</h4>
        </div>

        <div class="video-container col s8" style="--aspect-ratio: 9 / 16;">
            <iframe src="https://www.youtube.com/embed/MmB9b5njVbA?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="col s12 game-row d-container">
            <p class="description">{{game[0].description}}</p>
        </div>
        <div class="col s12 game-row d-container">
            <p class="reviews">Reviews</p>
            <div class="row review" *ngFor="let review of reviewsService.review">
                <p class="col s9 review-title">{{review.title}}</p>
                <p class="col s3 score right-align">{{review.score}}</p>
                <p class="col s12 content">{{review.reviewC}}</p>
                <p class="col s12 author right-align">Written by {{review.author}}</p>
            </div>
        </div>
    </div>

    <div class="col s3 push-s2 news">
        <app-news-col></app-news-col>
    </div>

    <app-review-editor id="review-editor" [game]="game[0]"></app-review-editor>
</div>
